.git
node_modules
.next
.env
.env.*
!.env.docker
npm-debug.log
README.md
CI_CD_README.md
.dockerignore
.gitignore
.gitlab-ci.yml
Dockerfile
docker-compose.yml
docker-compose.prod.yml
docker-deploy.sh
prod-deploy.sh
letsencrypt/